---
export async function getStaticPaths() {
  const url = "https://xajsthxggqgaudpivnrd.supabase.co/rest/v1/thrift_planet";
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhanN0aHhnZ3FnYXVkcGl2bnJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ4NzE1MDgsImV4cCI6MjAwMDQ0NzUwOH0.HQ2wFMdKd1M2pYndgzr5dgo2DM4qSQgYHbFZwmQeb9k",
    },
  };
  const data = await fetch(url, options).then((res) => res.json());

  return data.map((singleProduct) => {
    return {
      params: { slug: singleProduct.slug },
      props: { singleProduct },
    };
  });
}
import Navigation from "../../components/webshop/Navigation.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Banner from "../../components/webshop/Banner.astro";
import SingleProduct from "../../components/webshop/SingleProduct.astro";
import MenuBackgr from "../../components/MenuBackgr.astro";
import Footer from "../../components/Footer.astro";
import Reklame from "../../components/webshop/Reklame.astro";
const { singleProduct } = Astro.props;
---

<MainLayout>
  <Banner />
  <MenuBackgr />
  <div class="indhold">
    <Navigation category={singleProduct.category} name={singleProduct.name} />
    <SingleProduct image1={`/img/${singleProduct.image1}`} image2={`/img/${singleProduct.image2}`} name={singleProduct.name} description={singleProduct.description} price={singleProduct.price + " DKK"} slug={singleProduct.slug} image="../img/blå_hjerte_forside" />
  </div>
  <div class="footer">
    <Footer image3="/img/general/bannerup.svg" />
  </div>
</MainLayout>

<style>
  .button {
    margin-block: 40px;
  }
  .bg_menu {
    background-image: url("../img/general/gradient_background_menu.png");
  }
  .product {
    padding-inline: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 15px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  img {
    border-radius: 15px;
    filter: brightness(1.1);
  }
  .price {
    margin-top: 1rem;
  }
  @media (min-width: 800px) {
    .indhold {
      margin-top: 2rem;
    }
  }
</style>
