---
import Button_2 from "../Button_2.astro";
import Reklame from "./Reklame.astro";
const { name, description, price, image1, image2, slug, image } = Astro.props;
---

<h2>{name}</h2>
<div class="container">
  <div class="product">
    <img id="img_alene" class="aktiv" src={image1} alt="billede" />
    <img id="img_model" src={image2} alt="billede" />
    <div class="buttons">
      <button id="alene" class="aktiv"></button>
      <button id="model" class=""></button>
    </div>
  </div>
  <div class="beskriv1">
    <h5>{description}</h5>
    <h5 class="price">{price}</h5>
  </div>

  <div class="button">
    <Button_2 title="LÆG I KURV" />
  </div>
  <div class="beskriv">
    <h6>Beskrivelse</h6><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum deserunt, modi aliquam sapiente beatae minus neque ex est voluptatum.</p>
  </div>
</div>
<h3>PRODUKTER DU MÅSKE OGSÅ KAN LIDE?</h3>
<div class="reklame">
  <Reklame image="/img/gul_ring_forside.webp" title="Gul ring med sten" />
  <Reklame image="/img/hjerte_forside.webp" title="Chocker med hjerte vedhæng" />
  <Reklame image="/img/klemme_lilla2_forside.webp" title="Stor lilla hårklemmer" />
</div>
<script>
  document.querySelector("#model").addEventListener("click", skiftBillede);
  document.querySelector("#alene").addEventListener("click", skiftBillede);

  function skiftBillede() {
    console.log("skiftBillede");
    // billeder
    document.querySelector("#img_model").classList.toggle("aktiv");
    document.querySelector("#img_alene").classList.toggle("aktiv");
    // knapper
    document.querySelector("#model").classList.toggle("aktiv");
    document.querySelector("#alene").classList.toggle("aktiv");
  }

  // function skiftBillede2() {
  //   console.log("skiftBillede");
  //   document.querySelector("#img_model").classList.remove("aktiv");
  //   document.querySelector("#img_alene").classList.add("aktiv");
  // }
</script>
<style>
  button {
    background-color: var(--bg);
    padding: 9px;
    border-radius: 50%;
    border: none;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
  }
  button.aktiv {
    background-color: var(--brand-color-purple);
  }
  .product img {
    display: none;
  }
  .product img.aktiv {
    display: inline;
  }
  h2 {
    color: var(--brand-color-purple);
    margin-top: 2rem;
  }
  h3 {
    color: var(--brand-color-purple);
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    padding-inline: 2rem;
  }
  .button,
  .button1 {
    margin-block: 40px;
  }
  .beskriv {
    text-align: center;
    margin-inline: 5rem;
  }
  .product {
    padding-inline: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 15px;
  }
  a {
    text-decoration: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1300px;
    margin-inline: auto;
  }

  img {
    border-radius: 15px;
    filter: brightness(1.1);
  }
  .price {
    margin-top: 1rem;
  }

  h5 {
    margin-top: 1rem;
  }
  h6 {
    color: black;
  }
  @media (min-width: 800px) {
    .container {
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
      grid-template-rows: 0.2fr 0.1fr 0.1fr 0.1fr 0.1fr;
      justify-content: start;
      align-self: flex-start;
      text-align: left;
    }
    .product {
      grid-row: 2/5;
      grid-column: 2/3;
      margin-top: 4rem;
    }
    .button {
      grid-row: 3/4;
      grid-column: 3/4;
      margin-left: 1rem;
    }
    .beskriv {
      grid-row: 4/5;
      grid-column: 3/4;
      text-align: left;
      margin-right: 6rem;
      margin-inline: 1rem;
    }
    .beskriv1 {
      grid-column: 3/4;
      grid-row: 2/3;
      margin-top: 1rem;
      margin-left: 1rem;
    }
    img {
      width: 320px;
    }
    .reklame {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-inline: auto;
      gap: 30px;
      max-width: 1100px;
    }
    .buttons {
      max-width: 320px;
    }
  }
</style>
